@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/general/clearfix";
@import "ElegantIcons";

$bg-color: #efefef;
$text-color: #4f4f4f;
$secondy-text-color: #D9DADA;
$highlight-text-color: white;
$button-color: #6cdcac;

body {
    font-size: 62.5%;
	font-family: 'Roboto', sans-serif;
    text-align: center;
}



.hero {
    background: url('../images/hero.jpg');
	background-size: cover;
    width: 100%;
    margin: 0 auto;
    color: ivory;

    header {
        img {
            width: 8em;
            height: 2em;
            float: left; 
        }
        ul {
            float: right;

            li {
				float: left;
  				margin: 1em .5em;
   				padding: .5em 1em;
    			border: 1px solid transparent;
    			border-radius: 2px;
	    		&:last-child {
	        	border: 1px solid ivory;
            	}
    		}

    
        }
        @include clearfix;
    }

    h1 {
        font-size: 4em;
        padding: 1em 0 .5em 0;
    }

    h2 {
        font-size: 2em;
        color: ivory;
    }

    form {
	    padding: 2em 0 4em 0;

	    input[type="text"] {
	        padding: 1em;
	        border: 0;
	        width: 18em;
	        border-radius: 2px 0 0 2px;
	        background: white;
	        opacity: .5;
	    }

	    input[type="button"] {
	        color: black;
	        padding: 1em;
	        border: 0;
	        width: 6em;
	        border-radius: 0 2px 2px 0;
	        background-color: lightblue;
	    }
	}
}

.numbers {
    width: 80%;
    margin: 0 auto;

    ul {
        position: relative;
        top: -1em;
        background: $bg-color;

        li {
			float: left;
		    width: 25%;
		    box-sizing: border-box;
		    border-top: 1px solid $secondy-text-color;
		    border-bottom: 1px solid $secondy-text-color;
		    border-left: 1px solid $secondy-text-color;

		    &:last-child {
		        border-right: 1px solid $secondy-text-color;
		    }

		    h2 {
		        font-size: 2em;
		        padding: 1em 0;
		    }

		    h3 {
		        padding: 0 0 2em 0;
		    }
        }

         @include clearfix; 
    }
}


.how-it-works {

    width: 70%;
    padding-left: 15%;
    padding-right: 15%;

    
    li {
    float: left;
    width: 33.33%;
    }

    number {
    font-size: 2em;
    color: $bg-color;
    border: 1px solid $bg-color;
    width: 1em;
    height: 1em;
    display: block;
    margin: 1em auto 2em auto;
    padding: .4em;
    @include border-radius(100%);
    background-color: $bg-color;
    }

    i {
    font-size: 3.6em;
    }

    .icon_ul {
        color: #ECA95A;
    }

    .icon_pencil {
        color: #AC9CD2;
    }

    .icon_group {
        color: #4D99CB;
    }


}